{% extends 'homepage/base.html' %} 
{% block content %} 
{% load static %}
<style>
    .custom-shadow {
        box-shadow:  0px 0px 13px 0px rgba(0, 0, 0, 0.3);
    }
</style>
<div class="grid grid-cols-4 gap-4 bg-white items-start mb-12 p-4 ml-12 mr-12">
    {% for dethi in listDeThiDGNL %}
    <div class="max-w-sm p-6 mt-16  ml-4 bg-white border border-gray-200 rounded-lg custom-shadow dark:bg-gray-800 dark:border-gray-700">
        <!-- Tên đề thi -->
        <div class="mb-4">
            <p class="w-full p-2  text-center font-bold">{{ dethi.ten_de_thi }}</p>
        </div>
        <!-- Mã đề -->
        <div class="flex mb-4 justify-center">
            <p class="w-full p-2">Mã đề: {{ dethi.ma_de }}</p>
        </div>
        <!-- Số câu hỏi và thời gian thi -->
        <div class="mb-4">
            <p class="w-full p-2 flex justify-between items-center">
                <span>Số câu hỏi: {{ dethi.noidungde_set.count }}</span>
                <span>Thời gian thi: {{ dethi.thoi_gian_thi }}</span>
            </p>
        </div>
         <!-- Nút Chi tiết và Thi -->
         <div class="flex justify-center mt-4">
            <a href="{% url 'DanhGiaNangLuc:select_subjects' idde=dethi.id %}" class="w-1/2">
                <button data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="w-32 inline-block text-white bg-gray-300 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    {% if dethi.id in thi_da_thi_ids %}
                        Luyện lại
                    {% else %}
                        Thi thử
                    {% endif %}
                    </button>
                
            </a>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}
