{% load static %}
<!-- Footer ================================================================== -->
	<div id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>ACCOUNT</h5>
				<a href="login.html">YOUR ACCOUNT</a>
				<a href="login.html">PERSONAL INFORMATION</a> 
				<a href="{% url 'admin:index' %}">TRANG QUẢN TRỊ</a>
			 </div> 
		 </div>
		<p class="pull-right">&copy; Cao Tuấn Sơn</p>
	</div><!-- Container End -->
	</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->