{% load static %}  
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
<section>
    <div class="leaves">
        <div class="set">
            <div><img src="{% static 'images/login/leaf_01.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_02.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_03.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_04.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_01.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_02.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_03.png' %}"></div>
            <div><img src="{% static 'images/login/leaf_04.png' %}"></div>
        </div>
    </div>
    <img src="{% static 'images/login/bg.jpg' %}" class="bg">
    <img src="{% static 'images/login/girl.png' %}" class="girl">
    <img src="{% static 'images/login/trees.png' %}" class="trees">
    <div class="login">
        <h2>Đăng nhập</h2>
        <form action="{% url 'User:login' %}" method="post">
            {% csrf_token %}
            {% if error_message %}
                <span class="text-danger">{{ error_message }}</span>
            {% endif %}
            <div class="inputBox">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="inputBox">
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="inputBox">
                <input type="submit" value="Đăng nhập" id="btn">
            </div>
            <div class="group">
                <a href="#">Quên mật khẩu</a>
                <a href="{% url 'User:signup' %}">Đăng ký</a> 
            </div>
        </form>
    </div>
</section>
</body>
</html>
