{% extends 'homepage/base.html' %}
{% block content %}
{% load static %} 
<style>
    .custom-shadow {
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
    }
    .question-circle {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #e2e8f0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    .section-content {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .reading-content {
        width: 50%;
        overflow-y: auto;
        padding-right: 20px;
    }
    .question-container {
        display: none;
    }
    .question-container.active {
        display: block;
    }
    .navigation-buttons {
        position: static;
        display: flex;
        align-items: center;
    }
    #mainExamContent:-webkit-full-screen {
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow-y: auto;
    }
    #mainExamContent:-moz-full-screen {
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow-y: auto;
    }
    #mainExamContent:-ms-fullscreen {
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow-y: auto;
    }
    #mainExamContent:fullscreen {
        width: 100vw;
        height: 100vh;
        background-color: white;
        overflow-y: auto;
    }
    .subform-collapsed {
        width: 0px !important;
        overflow: hidden;
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }

    .subform-collapsed > * {
        display: none !important;
    }

    .subform-collapsed #toggleSubform {
    display: flex !important;
    }

    .mainform-expanded {
        width: 100% !important;
    }
    
    .timer-toggle-container {
        position: static;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .bottom-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        background-color: white;
        border-top: 1px solid #e2e8f0;
    }

    #toggleSubform {
        margin-left: 10px;
    }

    #countdown {
        font-weight: bold;
        color: #0891b2;
    }

    #mainform {
        width: 75%; /* 3/4 của container */
    }
    
    #subform {
        width: 25%; /* 1/4 của container */
    }
</style>  
<div id="mainExamContent" class="flex bg-white max-w-6xl mx-auto my-8 min-h-screen">
    <!--main exam-->
    <div class="flex flex-grow relative">
        <!--main form-->
        <div id="mainform" class="bg-white relative p-6 flex flex-col border rounded-lg max-h-128 custom-shadow mt-12 ml-16">
            <span class="font-bold ml-2 text-2xl text-blue-600">{{ DeThi.ten_de_thi }}</span>
            <form id="answerForm" method="POST" action="{% url 'DGNLHaNoi:chamthi' %}">
                <input type="hidden" id="DeThiInput" name="DeThiInput">
                <input type="hidden" id="thoiGianInput" name="thoiGianInput">
                <input type="hidden" id="currentSectionInput" name="currentSectionInput">
                {% csrf_token %} 
                <div id="section1" class="bg-white relative w-full flex flex-col">
                    {% for noi_dung_de, dapans in dictCHDA.items %} 
                        {% if noi_dung_de.cau_hoi.phan1 == 'p1' %} 
                        {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                        {% endif %} 
                    {% endfor %}
                </div>
                <div id="section2" class="bg-white relative w-full flex flex-col" style="display: none;">
                    {% for noi_dung_de, dapans in dictCHDA.items %} 
                            {% if noi_dung_de.cau_hoi.phan2 == 'p2' %} 
                            {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                            {% endif %} 
                        {% endfor %}
                </div>
                <div id="section3" class="bg-white relative w-full flex flex-col" style="display: none;">
                    {% for subject in selected_subjects %}
                            <span class="font-bold ml-2 text-2xl">3.{{ forloop.counter }}: {{ subject.1 }}</span>
                                {% for noi_dung_de, dapans in dictCHDA.items %}
                                    {% if noi_dung_de.cau_hoi.subject == subject.0 %}
                                        {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %}
                                    {% endif %}
                                {% endfor %}

                        {% endfor %}
                </div>
            </form>
        </div>
        <!--sub form-->
        <div id="subform" class="ml-4 rounded-lg bg-white p-4 border custom-shadow flex flex-col relative max-h-129 mt-12 mr-4">
            
            <h3 class="font-bold text-lg mb-2">Thông tin thí sinh</h3>        
  
            <div class="flex flex-row items-center justify-between">
                <!-- <span class="font-medium">Thời gian còn lại: </span>
                <div id="countdown" class="font-bold text-cyan-400">00:00</div> -->
                <p class="font-medium mb-2">Họ và tên: {{student.first_name}} {{student.last_name}}</p>
                <button id="fullscreenButton" class="w-32 inline-block text-white bg-indigo-500 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >
                    NỘP BÀI
                </button>
            </div>
            <div class="flex items-center mb-4">
                <span class="font-medium mr-2">Chỉ thị màu sắc:</span>
                <div class="bg-gray-300 text-black w-8 h-8 rounded-full flex items-center justify-center mr-2">0</div>
                <div class="bg-blue-500 text-white w-8 h-8 rounded-full flex items-center justify-center mr-2">0</div>
                <div class="bg-gray-300 text-black w-8 h-8 rounded-full flex items-center justify-center border-2 border-orange-500">0</div>
            </div>
            <h4 class="font-bold text-lg mb-2">Các câu hỏi trong phần thi</h4>
            <div id="questionButtons" class="flex flex-wrap gap-2 mb-4">
                {% for noi_dung_de in dictCHDA.keys %}
                    <button onclick="showQuestion({{ noi_dung_de.thu_tu_cau }})" 
                        data-tab="{{ noi_dung_de.thu_tu_cau }}" 
                        class="w-8 h-8 bg-gray-300 text-black rounded-full flex items-center justify-center">
                        {{ noi_dung_de.thu_tu_cau }}
                    </button> 
                {% endfor %}
            </div>
            <div class="flex-grow"></div>
            <div class="mt-auto">
                <p id="progress-text" class="text-sm font-medium text-blue-700 mb-1">Bạn đã hoàn thành</p>
                <div class=" bg-gray-200 rounded-full h-2.5 mb-1">
                    <div id="progress-indicator" class="bg-blue-600 h-2.5 rounded-full" style="width: 0%;"></div>
                </div> 
                <p id="progress-percent" class="text-right text-sm font-medium text-blue-700">0%</p>
                
            </div>
            
        </div>
    </div>
    <div class="bottom-controls">
        <div class="navigation-buttons">
            <button id="backBtn" class="py-2 px-4 border rounded-md border-gray-400 text-blue-600 text-sm font-bold mr-2 w-36">Câu trước</button>
            <button id="nextBtn" class="py-2 px-4 border rounded-md border-gray-400 text-blue-600 text-sm font-bold w-36">Câu sau</button>
        </div>
        <div class="timer-toggle-container">
            <span class="font-medium mr-2">Thời gian còn lại:</span>
            <div id="countdown" class="font-bold text-cyan-600">00:00</div>
            <button id="toggleSubform" class="bg-blue-500 text-white px-3 py-1 rounded w-24 ml-2">
                <span id="toggleIcon">&gt;&gt;</span>
            </button>
        </div>
    </div>
</div>

<!-- Confirm Dialog khi bắt đầu bài thi -->
<div id="startExamDialog" class="fixed inset-0 bg-gray-600 bg-opacity-100 overflow-y-auto h-full w-full flex items-center justify-center">
    <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3">
            <h3 class="text-lg leading-6 font-medium text-gray-900 text-center">Xác nhận làm bài thi</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500 text-left font-normal">
                    Cấu trúc bài thi ĐGNL Hà Nội:<br>
                    Phần I. Toán học và xử lý số liệu<br>
                    Phần II. Ngôn ngữ - Văn học <br>
                    Phần III. Khoa học/Ngoại ngữ<br>
                    Thời gian thi: 195 phút<br>
                    Điểm tối đa: 150/150<br>
                </p>
            </div>
            <div class="items-center px-4 py-3 flex justify-center">
                <button id="cancelStartBtn" class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-full w-24 mr-2">
                    Hủy
                </button>
                <button id="confirmStartBtn" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-full w-36 ml-2">
                    Xác nhận
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Dialog khi thoát chế độ toàn màn hình -->
<div id="exitFullscreenDialog" class="fixed inset-0 bg-gray-600 bg-opacity-100 overflow-y-auto h-full w-full hidden flex items-center justify-center">
    <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
        <div class="mt-3">
            <h3 class="text-lg leading-6 font-medium text-gray-900 text-center">Cảnh báo thoát chế độ toàn màn hình</h3>
            <div class="mt-2 px-7 py-3">
                <p class="text-sm text-gray-500 text-center">
                    Bạn đã thoát khỏi chế độ toàn màn hình. Bạn muốn tiếp tục làm bài hay nộp bài?
                </p>
            </div>
            <div class="items-center px-4 py-3 flex justify-center">
                <button id="continueExamBtn" class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-full w-36 mr-2">
                    Tiếp tục
                </button>
                <button id="submitExamBtn" class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-full w-24 ml-2">
                    Nộp bài
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var totalQuestions = {{ lenkeys|safe }};
    var currentQuestion = 1;
    var countdownInterval;
    var remainingTime;
    var isPaused = false;
    var currentSection = 1;
    var sectionsTime = [3000, 3000, 3000]; // 50 minutes for each section

    function showQuestion(questionNumber) {
        document.querySelectorAll('#section' + currentSection + ' .question-container').forEach(function(container, index) {
            container.classList.remove('active');
            if (index + 1 === questionNumber) {
                container.classList.add('active');
            }
        });
        currentQuestion = questionNumber;
        updateNavigationButtons();
    }

    function updateNavigationButtons() {
        var questionsInSection = document.querySelectorAll('#section' + currentSection + ' .question-container').length;
        document.getElementById('backBtn').disabled = currentQuestion === 1;
        document.getElementById('nextBtn').disabled = currentQuestion === questionsInSection;
    }

    document.getElementById('backBtn').addEventListener('click', function() {
        if (currentQuestion > 1) {
            showQuestion(currentQuestion - 1);
        }
    });

    document.getElementById('nextBtn').addEventListener('click', function() {
        var questionsInSection = document.querySelectorAll('#section' + currentSection + ' .question-container').length;
        if (currentQuestion < questionsInSection) {
            showQuestion(currentQuestion + 1);
        }
    });

    function updateColorIndicators() {
        var questionsInSection = document.querySelectorAll('#section' + currentSection + ' .question-container');
        questionsInSection.forEach(function(question, index) {
            var questionId = index + 1;
            var button = document.querySelector(`button[data-tab="${questionId}"]`);
            if (!button) return;

            var inputs = question.querySelectorAll('input[type="radio"], input[type="checkbox"]');
            var textInput = question.querySelector('input[type="text"]');
            var isAnswered = Array.from(inputs).some(input => input.checked) || (textInput && textInput.value.trim() !== '');

            if (isAnswered) {
                button.classList.remove('bg-gray-300', 'text-black');
                button.classList.add('bg-sky-500', 'text-white');
            } else {
                button.classList.remove('bg-sky-500', 'text-white');
                button.classList.add('bg-gray-300', 'text-black');
            }
        });
    }

    document.addEventListener('change', function(event) {
        var target = event.target;
        if (target.matches('input[type="radio"], input[type="checkbox"]')) {
            updateColorIndicators();
            updateProgress();
        }
    });

    document.addEventListener('input', function(event) {
        var target = event.target;
        if (target.matches('input[type="text"]')) {
            updateColorIndicators();
            updateProgress();
        }
    });
    function updateProgress() {
        var answeredQuestions = calculateAnsweredQuestions();
        var totalQuestionsInSection = document.querySelectorAll('#section' + currentSection + ' .question-container').length;

        var progressText = document.getElementById('progress-text');
        progressText.textContent = 'Bạn đã hoàn thành ' + answeredQuestions + '/' + totalQuestionsInSection;

        var progressPercentage = (answeredQuestions / totalQuestionsInSection) * 100;
        var progressIndicator = document.getElementById('progress-indicator');
        progressIndicator.style.width = progressPercentage + '%';

        var progressPercent = document.getElementById('progress-percent');
        progressPercent.textContent = Math.round(progressPercentage) + '%';
    }

    function calculateAnsweredQuestions() {
        var answeredCount = 0;
        var questionContainers = document.querySelectorAll('#section' + currentSection + ' .question-container');

        questionContainers.forEach(function(container) {
            var inputs = container.querySelectorAll('input[type="radio"]:checked, input[type="checkbox"]:checked');
            var textInput = container.querySelector('input[type="text"]');
            
            if (inputs.length > 0 || (textInput && textInput.value.trim() !== '')) {
                answeredCount++;
            }
        });

        return answeredCount;
    }

    function startCountdown(duration, display) {
        var timer = duration,
            minutes, seconds;
        countdownInterval = setInterval(function() {
            if (!isPaused) {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(countdownInterval);
                    if (currentSection < 3) {
                        currentSection++;
                        startNextSection();
                    } else {
                        submitExam();
                    }
                }
            }
            remainingTime = timer;
        }, 1000);
    }

    function resetQuestionButtons() {
        var questionButtons = document.getElementById('questionButtons');
        questionButtons.innerHTML = '';
        var questionsInSection = document.querySelectorAll('#section' + currentSection + ' .question-container').length;
        for (var i = 1; i <= questionsInSection; i++) {
            var button = document.createElement('button');
            button.textContent = i;
            button.setAttribute('data-tab', i);
            button.classList.add('w-8', 'h-8', 'bg-gray-300', 'text-black', 'rounded-full', 'flex', 'items-center', 'justify-center');
            button.onclick = function() { 
                showQuestion(parseInt(this.getAttribute('data-tab'))); 
            };
            questionButtons.appendChild(button);
        }
        showQuestion(1);
        updateColorIndicators();
    }


    window.onload = function() {
        document.getElementById('startExamDialog').style.display = 'flex';
    };

    document.getElementById('cancelStartBtn').addEventListener('click', function() {
        window.location.href = '{% url 'core:dgnl' %}'; // Điều hướng về trang chủ
    });

    document.getElementById('confirmStartBtn').addEventListener('click', function() {
        document.getElementById('startExamDialog').style.display = 'none';
        startExam();
    });

    function startExam() {
        document.getElementById('startExamDialog').style.display = 'none';
        initializeExam();

        var mainExamContent = document.getElementById('mainExamContent');
        if (mainExamContent.requestFullscreen) {
            mainExamContent.requestFullscreen();
        } else if (mainExamContent.mozRequestFullScreen) { // Firefox
            mainExamContent.mozRequestFullScreen();
        } else if (mainExamContent.webkitRequestFullscreen) { // Chrome, Safari and Opera
            mainExamContent.webkitRequestFullscreen();
        } else if (mainExamContent.msRequestFullscreen) { // IE/Edge
            mainExamContent.msRequestFullscreen();
        }
    }

    document.addEventListener('fullscreenchange', function() {
        var mainExamContent = document.getElementById('mainExamContent');
        if (document.fullscreenElement === mainExamContent) {
            mainExamContent.classList.add('fullscreen');
        } else {
            mainExamContent.classList.remove('fullscreen');
            document.getElementById('exitFullscreenDialog').style.display = 'flex';
        }
    });

    document.getElementById('fullscreenButton').addEventListener('click', function() {
        console.log('Current section when clicking NỘP BÀI:', currentSection);
        if (currentSection < 3) {
            if (confirm("Bạn có chắc chắn muốn nộp phần này và chuyển sang phần tiếp theo?")) {
                submitSection();
            }
        } else {
            if (confirm("Đây là phần cuối cùng. Bạn có chắc chắn muốn nộp bài?")) {
                submitExam();
            }
        }
    });
    function nextSectionExists() {
        return document.getElementById('section' + (currentSection + 1)) !== null;
    }

    function submitSection() {
        console.log('Submitting section:', currentSection);
        if (currentSection < 3) {
            startNextSection();
        } else {
            submitExam();
        }
    }

    function submitExam() {
        var deThiValue = '{{ DeThi.id }}';
        document.getElementById('DeThiInput').value = deThiValue;

        var thoiGianConLai = document.getElementById('countdown').innerHTML;
        document.getElementById('thoiGianInput').value = thoiGianConLai;

        document.getElementById('currentSectionInput').value = currentSection;

        document.getElementById('answerForm').submit();
    }

    function showSection(sectionNumber) {
        document.querySelectorAll('[id^="section"]').forEach(function(section) {
            section.style.display = 'none';
        });
        var currentSectionElement = document.getElementById('section' + sectionNumber);
        if (currentSectionElement) {
            currentSectionElement.style.display = 'flex';
            currentSection = sectionNumber;
            resetQuestionButtons();
            updateProgress();
        } else {
            console.error('Section ' + sectionNumber + ' not found');
        }
    }

    function initializeExam() {
        showSection(1);
        resetQuestionButtons();
        updateProgress();
        var display = document.querySelector('#countdown');
        startCountdown(sectionsTime[currentSection - 1], display);
    }
    function startNextSection() {
        console.log('Current section before:', currentSection);
        if (currentSection < 3 && nextSectionExists()) {
            currentSection++;
            console.log('Moving to section:', currentSection);
            showSection(currentSection);
            clearInterval(countdownInterval);
            startCountdown(sectionsTime[currentSection - 1], document.querySelector('#countdown'));
            resetQuestionButtons();
            updateColorIndicators();
            updateProgress();
            // Cập nhật tiêu đề phần
            var sectionTitle = document.querySelector('.font-bold.ml-2.text-2xl.text-blue-600');
            sectionTitle.textContent = "Phần " + currentSection + ": " + getSectionTitle(currentSection);
        } else {
            console.log('Submitting exam');
            submitExam();
        }
    }
    function getSectionTitle(sectionNumber) {
        switch(sectionNumber) {
            case 1: return "Toán học và xử lý số liệu";
            case 2: return "Ngôn ngữ - Văn học ";
            case 3: return "Khoa học/Ngoại ngữ";
            default: return "";
        }
    }

    document.getElementById('continueExamBtn').addEventListener('click', function() {
        document.getElementById('exitFullscreenDialog').style.display = 'none';
        var mainExamContent = document.getElementById('mainExamContent');
        if (mainExamContent.requestFullscreen) {
            mainExamContent.requestFullscreen();
        }
    });

    document.getElementById('submitExamBtn').addEventListener('click', function() {
        submitExam();
    });
    document.getElementById('toggleSubform').addEventListener('click', function() {
        var subform = document.getElementById('subform');
        var mainform = document.getElementById('mainform');
        var toggleIcon = document.getElementById('toggleIcon');

        subform.classList.toggle('subform-collapsed');
        mainform.classList.toggle('mainform-expanded');

        if (subform.classList.contains('subform-collapsed')) {
            toggleIcon.innerHTML = '&lt;&lt;';
            mainform.style.width = '100%';
            subform.style.width = '0px';
        } else {
            toggleIcon.innerHTML = '&gt;&gt;';
            mainform.style.width = '75%';
            subform.style.width = '25%';
        }
    });
</script>
{% endblock %}