{% extends 'homepage/base.html' %}
{% block content %}
{% load static %} 
<style>
    .btn-default {
        background-color: #fff;
        color: #000;
    }
    .btn-selected {
        background-color: #3490dc;
        color: #000;
    }
    .btn-passed {
        background-color: #f59e0b;
        color: #000;
    }
</style>  

<div id="mainExamContent" class=" flex flex-col h-screen justify-between fullscreen bg-white">
    <!--main exam-->
    <div class="flex flex-grow relative">
        <!--main form-->
        <div class="bg-white relative h-screen group top-0 left-0 rounded-lg w-full p-8  flex flex-col overflow-y-auto">
            <span class="font-bold ml-2 text-2xl text-blue-600">{{ DeThi.ten_de_thi }}</span>
            <form id="answerForm" method="POST" action="{% url 'DanhGiaNangLuc:chamthi' %}">
                <input type="hidden" id="DeThiInput" name="DeThiInput">
                <input type="hidden" id="thoiGianInput" name="thoiGianInput">
             
                <div class="bg-white relative ml-2 mr-2 group top-0 left-0 rounded-lg w-full p-8 border drop-shadow-lg flex flex-col overflow-y-auto">
                    <div class="border-spacing-1 flex flex-col">
                        <span class="font-bold ml-2 text-2xl"> Phần 1: Ngôn ngữ </span>
                        <span class="font-bold ml-2 text-2xl"> 1.1: Tiếng Việt </span>  
                    </div>
                    {% for noi_dung_de, dapans in dictCHDA.items %} 
                        {% if noi_dung_de.cau_hoi.language == 'vi' %} 
                        {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                        {% endif %} 
                    {% endfor %}
                    <div class="border-spacing-1 flex flex-row">
                        <span class="font-bold ml-2 text-2xl"> 1.2: Tiếng Anh </span>  
                    </div>
                        {% for noi_dung_de, dapans in dictCHDA.items %} 
                            {% if noi_dung_de.cau_hoi.language == 'en' %} 
                            {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                            {% endif %} 
                        {% endfor %}
                    <div class="border-spacing-1 flex flex-col">
                        <span class="font-bold ml-2 text-2xl"> Phần 2: Toán học, tư duy logic và phân tích số liệu </span>
                        <span class="font-bold ml-2 text-2xl"> 2.1: Toán học </span>  
                    </div>
                
                        {% for noi_dung_de, dapans in dictCHDA.items %} 
                            {% if noi_dung_de.cau_hoi.phan_2 == 'TH' %} 
                            {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                            {% endif %} 
                        {% endfor %}

                    <div class="border-spacing-1 flex flex-row">
                        <span class="font-bold ml-2 text-2xl"> 2.2: Tư duy logic </span>  
                    </div>
                    
                        {% for noi_dung_de, dapans in dictCHDA.items %} 
                            {% if noi_dung_de.cau_hoi.phan_2 == 'TDLG' %} 
                            {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                            {% endif %} 
                        {% endfor %}

                    <div class="border-spacing-1 flex flex-row">
                        <span class="font-bold ml-2 text-2xl"> 2.3: Phân tích số liệu </span>  
                    </div>
                   
                        {% for noi_dung_de, dapans in dictCHDA.items %} 
                            {% if noi_dung_de.cau_hoi.phan_2 == 'PTSL' %} 
                            {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %} 
                            {% endif %} 
                        {% endfor %}
     
                    <div class="border-spacing-1 flex flex-col">
                        <span class="font-bold ml-2 text-2xl">Phần 3: Giải quyết vấn đề</span>
                        {% for subject in selected_subjects %}
                            <span class="font-bold ml-2 text-2xl">3.{{ forloop.counter }}: {{ subject.1 }}</span>
                          
                                {% for noi_dung_de, dapans in dictCHDA.items %}
                                    {% if noi_dung_de.cau_hoi.subject == subject.0 %}
                                        {% include 'question_load.html' with noi_dung_de=noi_dung_de dapans=dapans %}
                                    {% endif %}
                                {% endfor %}

                        {% endfor %}
                    </div>
                </div>
                
                {% csrf_token %} 
                    
                
                                    
                </form>
        </div>
        <!--sub form-->
        <div class="ml-2 mr-2  top-0 left-0 rounded-lg bg-white h-screen w-128 p-2 border drop-shadow-lg flex flex-col relative overflow-y-auto">
            <span class="font-bold ">Thông tin thí sinh</span>
            <span class="font-medium">Họ và tên: {{student.first_name}} {{student.last_name}}</span>
            {% comment %} <span class="font-thin">Thời gian làm bài: {{DeThi.thoi_gian_thi}}</span> {% endcomment %}
            <div class="flex flex-row items-center justify-between">
                <span class="font-medium">Thời gian làm bài còn lại: </span>
                <div id="countdown" class="font-bold text-cyan-400">00:00</div>
                <button id="submitBtn" data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="w-32 inline-block text-white bg-indigo-500 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                    NỘP BÀI
                    </button>
            </div>
            <div class="hidden flex space-x-4 justify-center">
                <button id="pauseButton" class="w-64 inline-block text-white bg-blue-400 hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">TẠM DỪNG</button> 
                
            </div>
            <div class="flex flex-row items-center">
                <span class="font-medium">Chỉ thị màu sắc:</span>
                <button class="bg-gray-300 text-black px-4 py-2 m-1.5 border rounded-full">0</button>
                <button class="bg-sky-500 text-white px-4 py-2 m-1.5 border rounded-full">0</button>
                <button class="bg-gray-300 text-black px-4 py-2 m-1.5 border rounded-full border-orange-500">0</button>
            </div>
            <br />
            <div class="bg-gray-300 size-0.5 w-full"></div>
            <br />
            <span class="font-bold text-2xl">Các câu hỏi trong phần thi </span>
            <br />
            <div class="col-span-5 ml-1">
                <div class="border-spacing-1 flex flex-col">
                    <span class="font-bold text-2xl"> Phần 1: Ngôn ngữ </span> 
                </div>
                <div class="grid grid-cols-7 gap-1 mt-4">
                    {% for noi_dung_de, dapans in dictCHDA.items %}
                        {% if noi_dung_de.cau_hoi.language == 'vi' or noi_dung_de.cau_hoi.language == 'en' %}
                            <button onclick="scrollToQuestion('question-{{ noi_dung_de.thu_tu_cau }}')" data-tab="{{ noi_dung_de.thu_tu_cau }}" class="w-10 h-10 bg-gray-300 text-black border rounded-full flex items-center justify-center">{{ noi_dung_de.thu_tu_cau }}</button> 
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-span-5 ml-1 mt-4">
                <div class="border-spacing-1 flex flex-col ">
                    <span class="font-bold text-2xl"> Phần 2: Toán học, tư duy logic và phân tích số liệu </span> 
                </div>
                <div class="grid grid-cols-7 gap-1 mt-4">
                    {% for noi_dung_de, dapans in dictCHDA.items %}
                        {% if noi_dung_de.cau_hoi.phan_2 == 'TH' or noi_dung_de.cau_hoi.phan_2 == 'TDLG' or noi_dung_de.cau_hoi.phan_2 == 'PTSL' %}
                            <button onclick="scrollToQuestion('question-{{ noi_dung_de.thu_tu_cau }}')" data-tab="{{ noi_dung_de.thu_tu_cau }}" class="w-10 h-10 bg-gray-300 text-black border rounded-full flex items-center justify-center">{{ noi_dung_de.thu_tu_cau }}</button> 
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-span-5 ml-1 mt-4">
                <div class="border-spacing-1 flex flex-col ">
                    <span class="font-bold text-2xl"> Phần 3: Giải quyết vấn đề </span> 
                </div>
                <div class="grid grid-cols-7 gap-1">
                    {% for subject in selected_subjects %}
                        {% for noi_dung_de, dapans in dictCHDA.items %}
                            {% if noi_dung_de.cau_hoi.subject == subject.0 %}
                            <button onclick="scrollToQuestion('question-{{ noi_dung_de.thu_tu_cau }}')" data-tab="{{ noi_dung_de.thu_tu_cau }}" class="w-10 h-10 bg-gray-300 text-black border rounded-full flex items-center justify-center">{{ noi_dung_de.thu_tu_cau }}</button> 
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <br />
            <div class="flex justify-between items-center mb-1">
                <span id="progress-text" class="text-base font-medium text-blue-700 dark:text-white">Bạn đã hoàn thành</span>
                {% comment %} <span id="progress-percent" class="text-sm font-medium text-blue-700 dark:text-white">0%</span> {% endcomment %}
            </div>
            <div class="w-full max-w-md mx-auto relative flex items-center">
                <div id="progress-bar" class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                    <div id="progress-indicator" class="bg-blue-600 h-2.5 rounded-full" style="width: 0%;"></div>
                </div>
                <span id="progress-percent" class="ml-2 text-sm font-medium text-blue-700 dark:text-white">0%</span>
            </div>
        </div>
    </div>
</div>
<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Bạn có chắc chắn muốn nộp bài?</h3>
                <button id="confirmButton" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    Vâng, tôi chắc
                </button>
                <button data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Không, tôi muốn làm tiếp</button>
            </div>
        </div>
    </div>
</div>
<div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="popup-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Bạn có muốn tạm dừng hoạt động?</h3>
                <button id="continueButton" data-modal-hide="popup-modal" type="button" onclick="handleContinueButtonClick()" class="text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    Tiếp tục
                </button>
                <button id="confirmButton1" data-modal-hide="popup-modal" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Nộp bài</button>
            </div>
        </div>
    </div>
</div>
<script>
    var totalQuestions={{lenkeys}};
    var countdownInterval;
    var remainingTime;
    var isPaused=false;
    // Function to scroll to a specific question
    function scrollToQuestion(questionId) {
        // Get the question element by its ID
        var questionElement = document.getElementById(questionId);
        // Scroll to the question element
        if (questionElement) {
            questionElement.scrollIntoView({ behavior: 'smooth' });
        }
    }
    function updateColorIndicators(tabNumber) {
        var button = document.querySelector(`.col-span-5 button[data-tab="${tabNumber}"]`);
        if (!button) return;
    
        var inputs = document.querySelectorAll(`input[name="group${tabNumber}"]`);
        var isAnswered = Array.from(inputs).some(input => input.checked);
    
        if (isAnswered) {
            button.classList.remove('bg-gray-300', 'border-gray-300', 'text-black');
            button.classList.add('bg-sky-500', 'border-blue-500', 'text-white');
        } else {
            button.classList.remove('bg-sky-500', 'border-blue-500', 'text-white');
            button.classList.add('bg-gray-300', 'border-gray-300', 'text-black');
        }
    }
    
    function updateColorIndicatorsForText(tabNumber) {
        var button = document.querySelector(`.col-span-5 button[data-tab="${tabNumber}"]`);
        if (!button) return;
    
        var textarea = document.querySelector(`#inputTextArea${tabNumber}`);
        if (!textarea) return;
        var isAnswered = textarea.value.trim() !== '';
        if (isAnswered) {
            button.classList.remove('bg-gray-300', 'border-gray-300', 'text-black');
            button.classList.add('bg-sky-500', 'border-blue-500', 'text-white');
        } else {
            button.classList.remove('bg-sky-500', 'border-blue-500', 'text-white');
            button.classList.add('bg-gray-300', 'border-gray-300', 'text-black');
        }
    }
    
    document.addEventListener('change', function(event) {
        var target = event.target;
        if (target.matches('input[type="radio"], input[type="checkbox"]')) {
            var tabNumber = target.closest('[data-tab]').getAttribute('data-tab');
            updateColorIndicators(tabNumber);
            updateProgress();
        }
    });
    
    document.addEventListener('input', function(event) {
        var target = event.target;
        if (target.matches('textarea')) {
            var tabNumber = target.id.replace('inputTextArea', '');
            updateColorIndicatorsForText(tabNumber);
            updateProgress();
        }
    });
    function updateProgress() {
        var answeredQuestions = calculateAnsweredQuestions();

        var progressText = document.getElementById('progress-text');
        progressText.textContent = 'Bạn đã hoàn thành ' + answeredQuestions + '/' + totalQuestions;

        var progressPercentage = (answeredQuestions / totalQuestions) * 100;
        var progressIndicator = document.getElementById('progress-indicator');
        progressIndicator.style.width = progressPercentage + '%';

        var progressPercent = document.getElementById('progress-percent');
        progressPercent.textContent = Math.round(progressPercentage) + '%';
    }

    function calculateAnsweredQuestions() {
    var answeredCount = 0;
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    if (checkboxes.length > 0) {    
        answeredCount += 1;
    }
    var radios = document.querySelectorAll('input[type="radio"]:checked');
    answeredCount += radios.length;

        var textareas = document.querySelectorAll('textarea');
        textareas.forEach(function(textarea) {
            if (textarea.value.trim() !== '') {
                answeredCount++;
            }
        });

        return answeredCount;
    }
    function startCountdown(duration, display) {
        var timer = duration,
            minutes, seconds;
            countdownInterval = setInterval(function() {
            if (!isPaused) {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);
    
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
    
                display.textContent = minutes + ":" + seconds;
    
                if (--timer === 0) {
                    clearInterval(countdownInterval);
                    var deThiValue = '{{ DeThi.id }}';
                    document.getElementById('DeThiInput').value = deThiValue;
                    var thoiGianConLai = document.getElementById('countdown').innerHTML;
                    document.getElementById('thoiGianInput').value = thoiGianConLai;
                    document.getElementById('answerForm').submit();
                }
            }
            remainingTime = timer;
        }, 1000);
    }
    window.onload = function() {
        var Minutes = {{tthi}},
            display = document.querySelector('#countdown');
        startCountdown(Minutes, display);
    };
    document.getElementById('confirmButton').addEventListener('click', function() {
        var deThiValue = '{{ DeThi.id }}';
        document.getElementById('DeThiInput').value = deThiValue;
        
        var thoiGianConLai = document.getElementById('countdown').innerHTML;
        document.getElementById('thoiGianInput').value = thoiGianConLai;
        
        document.getElementById('answerForm').submit();
    });
    document.getElementById('confirmButton1').addEventListener('click', function() {
        var deThiValue = '{{ DeThi.id }}';
        document.getElementById('DeThiInput').value = deThiValue;
        
        var thoiGianConLai = document.getElementById('countdown').innerHTML;
        document.getElementById('thoiGianInput').value = thoiGianConLai;
        
        document.getElementById('answerForm').submit();
    });
    
    document.getElementById('pauseButton').addEventListener('click', function() {
        isPaused=true;
        var answeredQuestions = calculateAnsweredQuestions();
        Swal.fire({
            icon: 'info',
            title: 'Bạn đã hoàn thành ' + answeredQuestions + '/' + totalQuestions,
            showCancelButton: true,
            confirmButtonText: 'Tiếp tục làm bài',
            cancelButtonText: 'Nộp bài',
        }).then((result) => {
            if (result.dismiss === Swal.DismissReason.cancel) {
                var deThiValue = '{{ DeThi.id }}';
                document.getElementById('DeThiInput').value = deThiValue;
                var thoiGianConLai = document.getElementById('countdown').innerHTML;
                document.getElementById('thoiGianInput').value = thoiGianConLai;
                document.getElementById('answerForm').submit();
            } else {
                isPaused = false;
                startCountdown(remainingTime, document.querySelector('#countdown'));
            }
        });
        stopCountdown();
    });
    function updateLabel(checkbox, isCorrect) {
        var checkboxId = checkbox.id;
        var otherCheckboxId = checkboxId.startsWith('checkbox-dung') ? checkboxId.replace('checkbox-dung', 'checkbox-sai') : checkboxId.replace('checkbox-sai', 'checkbox-dung');
        var otherCheckbox = document.querySelector('#' + otherCheckboxId);
        var hiddenCheckboxId = checkboxId.replace('checkbox-dung-', '').replace('checkbox-sai-', '');
        var hiddenCheckbox = document.getElementById('checkbox-' + hiddenCheckboxId);
    
        if (checkbox.checked) {
            if (otherCheckbox) {
                otherCheckbox.checked = false; // Uncheck the other checkbox
            }
            if (hiddenCheckbox) {
                hiddenCheckbox.checked = isCorrect; // Check hidden checkbox if "Đúng", uncheck if "Sai"
            }
        } else {
            if (hiddenCheckbox) {
                hiddenCheckbox.checked = false; // Uncheck hidden checkbox if neither "Đúng" nor "Sai" is checked
            }
        }
    }
    
</script>
{% endblock %}